<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>LearningManagementSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterController</display-name>
    <servlet-name>RegisterController</servlet-name>
    <servlet-class>org.learnersacademy.lms.controller.RegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterController</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>org.learnersacademy.lms.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTeacherController</display-name>
    <servlet-name>AddTeacherController</servlet-name>
    <servlet-class>org.learnersacademy.lms.controller.AddTeacherController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTeacherController</servlet-name>
    <url-pattern>/addTeacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStudentController</display-name>
    <servlet-name>AddStudentController</servlet-name>
    <servlet-class>org.learnersacademy.lms.controller.AddStudentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudentController</servlet-name>
    <url-pattern>/addStudent1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddSubjectController</display-name>
    <servlet-name>AddSubjectController</servlet-name>
    <servlet-class>org.learnersacademy.lms.controller.AddSubjectController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSubjectController</servlet-name>
    <url-pattern>/addSub</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStudentControl</display-name>
    <servlet-name>AddStudentControl</servlet-name>
    <servlet-class>org.learnersacademy.lms.controller.AddStudentControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudentControl</servlet-name>
    <url-pattern>/addStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAcademicClassController</display-name>
    <servlet-name>AddAcademicClassController</servlet-name>
    <servlet-class>org.learnersacademy.lms.controller.AddAcademicClassController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAcademicClassController</servlet-name>
    <url-pattern>/addClass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MapSubjectAndClass</display-name>
    <servlet-name>MapSubjectAndClass</servlet-name>
    <servlet-class>org.learnersacademy.lms.controller.MapSubjectAndClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MapSubjectAndClass</servlet-name>
    <url-pattern>/mapSubjectAndClass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MapController</display-name>
    <servlet-name>MapController</servlet-name>
    <servlet-class>org.learnersacademy.lms.controller.MapController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MapController</servlet-name>
    <url-pattern>/map</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MapSubjectsController</display-name>
    <servlet-name>MapSubjectsController</servlet-name>
    <servlet-class>org.learnersacademy.lms.controller.MapSubjectsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MapSubjectsController</servlet-name>
    <url-pattern>/mapSubjects</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MapTeacherToSubjectsController</display-name>
    <servlet-name>MapTeacherToSubjectsController</servlet-name>
    <servlet-class>org.learnersacademy.lms.controller.MapTeacherToSubjectsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MapTeacherToSubjectsController</servlet-name>
    <url-pattern>/mapTeacherSubjects</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClassReportController</display-name>
    <servlet-name>ClassReportController</servlet-name>
    <servlet-class>org.learnersacademy.lms.controller.ClassReportController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassReportController</servlet-name>
    <url-pattern>/classReport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentController</display-name>
    <servlet-name>StudentController</servlet-name>
    <servlet-class>org.learnersacademy.lms.controller.StudentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentController</servlet-name>
    <url-pattern>/StudentReport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeacherReportController</display-name>
    <servlet-name>TeacherReportController</servlet-name>
    <servlet-class>org.learnersacademy.lms.controller.TeacherReportController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherReportController</servlet-name>
    <url-pattern>/TeacherReport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePasswordCotroller</display-name>
    <servlet-name>ChangePasswordCotroller</servlet-name>
    <servlet-class>org.learnersacademy.lms.controller.ChangePasswordCotroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePasswordCotroller</servlet-name>
    <url-pattern>/ChangePassword</url-pattern>
  </servlet-mapping>
</web-app>